[submodule "BatchTopK"]
	path = BatchTopK
	url = https://github.com/bartbussmann/BatchTopK.git
[submodule "epsilon-transformers"]
	path = epsilon-transformers
	url = https://github.com/adamimos/epsilon-transformers.git
